

.jedan {
   background-color: #1f2937;
   height: 30px;   
   display: flex;
   flex-direction: row;
   padding-top: 10px;
   justify-content: space-between;
   padding-left: 150px;
   padding-right: 150px;
   color: white;
}

.dva {
   background-color: #1f2937;
   height:250px;  
   color: white;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding-left: 150px;
   padding-right: 150px;

}

.tri {
   background-color: white;
   height:300px; 
   display: flex;
   justify-content: center; 
   flex-direction: column;
   align-items: center;
   gap:20px;

}

.četiri {
   background-color: #E5E7EB;
   height:190px; 
}

.pet {
   background-color: white;
   height:180px; 
}


body {
    margin: 0px;
}

span {
    color: white;
}
   
a {
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 20px;
}

.button {
  background-color: rgb(64, 107, 224);
  border-radius: 10px;
  align-items: flex-start;
  margin-top:15px;
  padding: 5px 15px 5px 15px;
  


}

.slika {
 background-color: gray;
 width: 300px;
 height: 180px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 20px;


}

.buttonparent {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.bold {
    font-size: xx-large;
    font-weight: bolder;
}

.text {
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    


}

.slike {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start; 
}

.slikaipodtekst {
    border-style: none;
    width: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    
    

}

.image {
    border-style: solid;
    color: rgb(60, 105, 202);
    width: 80px;
    height: 90px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    object-fit: cover;
}

.podtekst {
    font-size: small;   


}

.quote {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color:black;
    font-style: italic;
    font-size: large;

    

}

.potpis {
    color: black;
    display: flex;
    justify-content: center;
    margin-left: 310px;
    font-weight: bold;
    font-size: small;
}

.pet {
    display: flex;
    align-items: center;
    justify-content: center;
}


.plaviokvir {
    background-color: rgb(0, 166, 255);
    height: 80px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: small;
}

.boldtext {
    font-weight: bold;
}

.signup {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    width: 60px;

}

.copyrights {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    
}

body {
    font-family: 'Lobster Two', cursive;

    font-family: 'Philosopher', sans-serif;
}