div {
    border-style: none;
    height: 150px;
}

.jedan {
   background-color: #1f2937;
   height: 30px;   
   display: flex;
   flex-direction: row;
   padding-top: 10px;
   justify-content: space-around;
}

.dva {
   background-color: #1f2937;
   height:200px;  
}

.tri {
   background-color: white;
   height:200px;  
}

.četiri {
   background-color: #E5E7EB;
   height:190px; 
}

.pet {
   background-color: white;
   height:180px; 
}


body {
    margin: 0px;
}

span {
    color: white;
    font-weight: bold;
}
   
a {
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 20px;
}